# IDE files
.vscode/
.idea/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
temp/
cache/

# Environment files
.env
client/.env
server/.env

# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production / build
/build
client/dist
server/dist

# Testing
/coverage
client/coverage
server/coverage